{% extends "bootstrap/base.html" %}

{% block title %}
{{ _('Storytelling Twitter') }}
{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='process.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto Mono" rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap-slider.min.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='bootstrap-slider.min.js')}}"></script>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main.index') }}">{{ _('Storytelling Twitter') }}</a>
    </div>
    <div class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3" id="leftCol">
      <ol class="nav nav-stacked" id="sidebar">
        <h3>Steps</h3>
        <li class="active"><a href="#crawling">1. Crawling <span id="stat_crawling_sidebar" class="text-danger">(Belum)</span></a></li>
        <li><a href="#preprocessing">2. Preprocessing <span id="stat_preprocessing_sidebar" class="text-danger">(Belum)</span></a></li>
        <li><a href="#tagging">3. POS Tagging <span id="stat_pos_tagging_sidebar" class="text-danger">(Belum)</span></a></li>
        <li><a href="#penentuan_kelas">4. Penentuan Kelas <span id="stat_penentuan_kelas_sidebar" class="text-danger">(Belum)</span></a></li>
        <li><a href="#lda">5. Latent Dirichlet Allocation (LDA) <span id="stat_lda_sidebar" class="text-danger">(Belum)</span></a></li>
        <li><a href="#grammar">6. Grammar Story <span id="stat_grammar_sidebar" class="text-danger">(Belum)</span></a></li>
        <li><a href="#final">7. Final Result</a></li>
      </ol>
    </div>
    <div class="col-md-9">
      <hr>
      <h2 id="crawling" class="anchor">1. Crawling <span id="stat_crawling_header" class="text-danger">(Belum)</span></h2>
      <p>
        {% if form_stweets %}
        Proses mendapatkan data <i>tweet</i> dari Twitter. Berikut adalah data masukan yang digunakan.
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="code">place_name</td>
                <td>Nama lokasi dari pengguna Twitter yang men-tweet</td>
              </tr>
              <tr>
                <td class="code">latitude</td>
                <td>Latitude dari lokasi</td>
              </tr>
              <tr>
                <td class="code">longitude</td>
                <td>Longitude dari lokasi</td>
              </tr>
              <tr>
                <td class="code">attractions</td>
                <td>Tempat-tempat <i>attractions</i> yang di sekitar lokasi</td>
              </tr>
              <tr>
                <td class="code">range_dist</td>
                <td>Jarak radius dalam Km bagi pengguna Twitter</td>
              </tr>
              <tr>
                <td class="code">days_before</td>
                <td>Usia lama tweet dari hari sekarang</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>Berdasarkan data masukan sebelumnya, berikut ini adalah masukannya.</p>
        <form id="form_crawling">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Input</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="code">place_name</td>
                <td class="code">
                  <input type="hidden" name="place_name" value="{{input_crawling['place_name']}}">
                  {{input_crawling['place_name']}}
                </td>
              </tr>
              <tr>
                <td class="code">latitude</td>
                <td class="code">
                  <input type="hidden" name="latitude" value="{{input_crawling['latitude']}}">
                  {{input_crawling['latitude']}}
                </td>
              </tr>
              <tr>
                <td class="code">logitude</td>
                <td class="code">
                  <input type="hidden" name="longitude" value="{{input_crawling['longitude']}}">
                  {{input_crawling['longitude']}}
                </td>
              </tr>
              <tr>
                <td class="code">attractions</td>
                <td class="code">
                  {% for att in input_crawling['attractions'] %}
                    <ul>
                      <input type="hidden" name="attractions[]" value="{{att}}">
                      <li>{{att}}</li>
                    </ul>
                  {% endfor %}
                </td>
              </tr>
              <tr>
                <td class="code">range_dist</td>
                <td class="code">
                  <input type="hidden" name="range_dist" value="{{input_crawling['range_dist']}}">
                  {{input_crawling['range_dist']}} Km
                </td>
              </tr>
              <tr>
                <td class="code">days_before</td>
                <td class="code">
                  <input type="hidden" name="days_before" value="{{input_crawling['days_before']}}">
                  {{input_crawling['days_before']}} hari
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Proses Crawling" id="btnCrawling">Lakukan Crawling</button>
        <a href="{{url_for('main.index')}}" class="btn btn-link">Kembali*</a>
        <h5><small>*Jika menekan <span class="text-danger">Kembali</span>, akan mengulangi langkah dari awal.</small></h5>
        </form>
        <p><span id="status_crawling"></span></p>
        {% endif %}
      </p>
      <hr>
      <h2 id="preprocessing" class="anchor">2. Preprocessing <span id="stat_preprocessing_header" class="text-danger">(Belum)</span></h2>
      <p>
        Pada <i>preprocessing</i> tweet dilakukan hal berikut:
        <ol class="list-group">
          <li class="list-group-item">
            <h4>Common Preprocessing</h4>
            <ul>
              <li>Remove ASCII and Unicode</li>
              <li>Tokenization <code>Saya makan -> 'Saya', 'makan'</code></li>
              <li>Case folding, convert into lowercase <code>Saya -> saya</code></li>
              <li>Remove punctuation <code>!?%^., etc</code></li>
              <li>Remove newline</li>
            </ul>
          </li>
          <li class="list-group-item">
            <h4>Specific Preprocessing</h4>
            <ul>
              <li>Remove special symbols on Twitter <code>hashtag(#), mention(@username), RT, and FAV</code></li>
              <li>Remove all emoticons</li>
              <li>Remove URL</li>
              <li>Spelling checker using <i>symspell</i></li>
            </ul>
          </li>
        </ol>
        <button type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Proses Preprocessing" id="btnPreprocessing">Lakukan Preprocessing</button>
        <p><span id="status_preprocessing"></span></p>
      </p>
      <hr>
      <h2 id="tagging" class="anchor">3. POS Tagging <span id="stat_pos_tagging_header" class="text-danger">(Belum)</span></h2>
      <p>
        <i>Part-of-Speech</i> Tagging adalah proses memberi tag part-of-speech pada kata dalam kalimat. Berikut adalah contohnya:<br />
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Kalimat</th>
              <th>Setelah POS Tagging</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>saya suka memakan bakso 5 buah.</td>
              <td>saya<code>/PRP</code> suka<code>/VBI</code> memakan<code>/VBT</code> bakso<code>/NN</code> 5<code>/CDP</code> buah<code>/NN</code> .<code>/.</code></td>
            </tr>
          </tbody>
        </table>
        <p style="text-align:justify">Pada proses tagging kata pada kalimat, menggunakan <b>HMM POS Tagger</b> berdasarkan <i>"Alfan Farizki Wicaksono, Ayu Purwarianti.
        HMM Based POS Tagger for Bahasa Indonesia. On Proceedings of 4th International MALINDO (Malay - Indonesian Language) Workshop. 2nd August 2010."</i></p>
        <p>Berikut adalah tabel pos tagging:</p>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>No</th>
              <th>POS</th>
              <th>POS Name</th>
              <th>Example</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>OP</td>
              <td>Open Parenthesis</td>
              <td>({[</td>
            </tr>
            <tr>
              <td>2</td>
              <td>CP</td>
              <td>Close Parenthesis</td>
              <td>)}]</td>
            </tr>
            <tr>
              <td>3</td>
              <td>GM</td>
              <td>Slash</td>
              <td>/</td>
            </tr>
            <tr>
              <td>4</td>
              <td>;</td>
              <td>Semicolon</td>
              <td>;</td>
            </tr>
            <tr>
              <td>5</td>
              <td>:</td>
              <td>Colon</td>
              <td>:</td>
            </tr>
            <tr>
              <td>6</td>
              <td>"</td>
              <td>Quotation</td>
              <td>" '</td>
            </tr>
            <tr>
              <td>7</td>
              <td>.</td>
              <td>Sentence Terminator</td>
              <td>.!?</td>
            </tr>
            <tr>
              <td>8</td>
              <td>,</td>
              <td>Comma</td>
              <td>,</td>
            </tr>
            <tr>
              <td>9</td>
              <td>-</td>
              <td>Dash</td>
              <td>-</td>
            </tr>
            <tr>
              <td>10</td>
              <td>...</td>
              <td>Ellipsis</td>
              <td>...</td>
            </tr>
            <tr>
              <td>11</td>
              <td>JJ</td>
              <td>Adjective</td>
              <td>Kaya, Manis</td>
            </tr>
            <tr>
              <td>12</td>
              <td>RB</td>
              <td>Adverb</td>
              <td>Sementara, Nanti</td>
            </tr>
            <tr>
              <td>13</td>
              <td>NN</td>
              <td>Common Noun</td>
              <td>Mobil</td>
            </tr>
            <tr>
              <td>14</td>
              <td>NNP</td>
              <td>Proper Noun</td>
              <td>Bekasi, Indonesia</td>
            </tr>
            <tr>
              <td>15</td>
              <td>NNG</td>
              <td>Genitive Noun</td>
              <td>Bukunya</td>
            </tr>
            <tr>
              <td>16</td>
              <td>VBI</td>
              <td>Intransitive Verb</td>
              <td>Pergi</td>
            </tr>
            <tr>
              <td>17</td>
              <td>VBT</td>
              <td>Transitive Verb</td>
              <td>Membeli</td>
            </tr>
            <tr>
              <td>18</td>
              <td>IN</td>
              <td>Preposition</td>
              <td>Di, Ke, Dari</td>
            </tr>
            <tr>
              <td>19</td>
              <td>MD</td>
              <td>Modal</td>
              <td>Bisa</td>
            </tr>
            <tr>
              <td>20</td>
              <td>CC</td>
              <td>Coor-Conjunction</td>
              <td>Dan, Atau, Tetapi</td>
            </tr>
            <tr>
              <td>21</td>
              <td>SC</td>
              <td>Subor-Conjunction</td>
              <td>Jika, Ketika</td>
            </tr>
            <tr>
              <td>22</td>
              <td>DT</td>
              <td>Determiner</td>
              <td>Para, Ini, Itu</td>
            </tr>
            <tr>
              <td>23</td>
              <td>UH</td>
              <td>Interjection</td>
              <td>Wah, Aduh, Oi</td>
            </tr>
            <tr>
              <td>24</td>
              <td>CDO</td>
              <td>Ordinal Numerals</td>
              <td>Pertama, Kedua</td>
            </tr>
            <tr>
              <td>25</td>
              <td>CDC</td>
              <td>Collective Numerals</td>
              <td>Bertiga</td>
            </tr>
            <tr>
              <td>26</td>
              <td>CDP</td>
              <td>Primary Numerals</td>
              <td>Satu, Dua</td>
            </tr>
            <tr>
              <td>27</td>
              <td>CDI</td>
              <td>Irregular Numerals</td>
              <td>Beberapa</td>
            </tr>
            <tr>
              <td>28</td>
              <td>PRP</td>
              <td>Personal Pronouns</td>
              <td>Saya, Kamu</td>
            </tr>
            <tr>
              <td>29</td>
              <td>WP</td>
              <td>WH-Pronouns</td>
              <td>Apa, Siapa</td>
            </tr>
            <tr>
              <td>30</td>
              <td>PRN</td>
              <td>Number Pronouns</td>
              <td>Kedua-duanya</td>
            </tr>
            <tr>
              <td>31</td>
              <td>PRL</td>
              <td>Locative Pronouns</td>
              <td>Sini, Situ, Sana</td>
            </tr>
            <tr>
              <td>32</td>
              <td>NEG</td>
              <td>Negation</td>
              <td>Bukan, Tidak</td>
            </tr>
            <tr>
              <td>33</td>
              <td>SYM</td>
              <td>Symbols</td>
              <td>@#$%^&</td>
            </tr>
            <tr>
              <td>34</td>
              <td>RP</td>
              <td>Particles</td>
              <td>Pun, Kah</td>
            </tr>
            <tr>
              <td>35</td>
              <td>FW</td>
              <td>Foreign Words</td>
              <td>Foreign, Word

              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Proses POS Tagging" id="btnPosTagging">Lakukan POS Tagging</button>
        <p><span id="status_pos_tagging"></span></p>
      </p>
      <hr>
      <h2 id="penentuan_kelas" class="anchor">4. Penentuan Kelas <span id="stat_penentuan_kelas_header" class="text-danger">(Belum)</span></h2>
      <p>
        Setelah dilakukan <i>tagging</i>, kata-kata yang memiliki <i>tag</i> seperti berikut yang dilakukan pencarian topik:
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>No</th>
              <th>POS</th>
              <th>POS Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>JJ</td>
              <td>Adjective</td>
            </tr>
            <tr>
              <td>2</td>
              <td>NN</td>
              <td>Common Noun</td>
            </tr>
            <tr>
              <td>3</td>
              <td>NNP</td>
              <td>Proper Noun</td>
            </tr>
            <tr>
              <td>4</td>
              <td>NNG</td>
              <td>Genitive Noun</td>
            </tr>
            <tr>
              <td>5</td>
              <td>VBI</td>
              <td>Intransitive Verb</td>
            </tr>
            <tr>
              <td>6</td>
              <td>VBT</td>
              <td>Transitive Verb</td>
            </tr>
          </tbody>
        </table>
        <p>
          Sehingga kata-kata dapat dikategorikan menjadi 2 kelas, yaitu <b>Kelas Content</b> dan <b>Kelas Function</b>.
        </p>
        <table class="table">
          <thead>
            <tr>
              <th>Kelas</th>
              <th>Tag</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Content</td>
              <td>JJ, NN, NNP, NNG, VBI, VBT</td>
            </tr>
            <tr>
              <td>Function</td>
              <td>OP, CP, GM, ';', ':', '"', '.', ',', '-', '...', RB, IN, MD, CC, SC, DT, UH, CDO, CDC, CDP, CDI, PRP, WP, PRN, PRL, NEG, SYM, RP, FW</td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Proses Penentuan Kelas" id="btnPenentuanKelas">Lakukan Penentuan Kelas</button>
        <p><span id="status_penentuan_kelas"></span></p>
      </p>
      <hr>
      <h2 id="lda" class="anchor">5. Latent Dirichlet Allocation (LDA) <span id="stat_lda_header" class="text-danger">(Belum)</span></h2>
      <p>
        <i>Latent Dirichlet Allocation </i>(LDA) adalah <i>generative probabilistic model</i> dari kumpulan dokumen yang berisi kata-kata.
        <form class="form-horizontal" method="post" action="{{ url_for('main.lda') }}" role="form" id="formLda">
          <div class="form-group">
            <label class="col-sm-2 control-label">Jumlah Topik</label>
            <div class="col-sm-10 form-inline">
              <input type="number" id="num_topics" name="num_topics" class="form-control" value="" readonly />
              <button type="submit" class="btn btn-success" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Proses Generate Topik" id="btnGenerateTopik">Generate Jumlah Topik</button>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Alpha</label>
            <div class="col-sm-10">
              <input id="alpha" name="alpha" type="text" data-slider-min="0" data-slider-max="2" data-slider-step="0.01" data-slider-value="0.1" />
              <span id="alphaValLabel" style="margin-left:30px;"> Current Alpha Value: <span id="alphaVal">0.1</span></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Beta</label>
            <div class="col-sm-10">
              <input id="beta" name="beta" type="text" data-slider-min="0" data-slider-max="2" data-slider-step="0.01" data-slider-value="0.1" />
              <span id="betaValLabel" style="margin-left:30px;"> Current Beta Value: <span id="betaVal">0.1</span></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Iterations</label>
            <div class="col-sm-10">
                <input type="number" id="iterations" name="iterations" class="form-control" value="1000"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" id="btnLda" name="btnLda" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Proses LDA">Lakukan Proses LDA</button>
            </div>
          </div>
        </form>
        <p><span id="status_lda"></span></p>
      </p>
      <hr>
      <h2 id="grammar" class="anchor">6. Grammar Story <span id="stat_grammar_header" class="text-danger">(Belum)</h2>
      <p>
        <p style="text-align:justify">
          Penyusunan kata-kata yang memiliki <i>tag</i> pada tiap topik, menggunakan Context-free Grammar (CFG). CFG adalah jenis tata bahasa formal tertentu
          dan berisi sekumpulan <i>production rules</i> yang menggambarkan semua kemungkinan susunan kata tersebut. Dalam penelitian ini menggunakan bahasa Indonesia.
          Berikut adalah contoh penerapan CFG:
        </p>
        <pre>
        Grammar Production Rules<code>
        S   -> NP VP
        NP  -> NN | NN DT | NN JJP | NP CC NP
        VP  -> VBI NP | VBI NP PP
        PP  -> IN NP
        JJP -> JJ | JJ CC JJ
        VBI -> 'memakan' | 'melihat'
        NN  -> 'sapi' | 'kambing' | 'manusia'
        JJ  -> 'gemuk' | 'kurus'
        DT  -> 'ini' | 'itu'
        IN  -> 'di' | 'ke' | 'dari'
        CC  -> 'dan' | 'atau'</code>

        Possible Output:<samp>
        manusia kurus melihat kambing gemuk dan kurus</samp></pre>
        <p style="text-align:justify">
          Dalam penerapan CFG, berikut adalah <i>Production Rules</i> yang diterapkan:
        </p>
        <pre>
        Grammar Production Rules<code>
        S   -> NP VP
        NP  -> NN | NNP | NNG | NN DT | DT NNP | DT NNG | NN JJP | NP CC NP
        VP  -> VBI NP | VBI IN NP | VBI NP PP | VBT | VBT NP | PP | JJP
        PP  -> IN NP
        JJP -> JJ | JJ CC JJ
        NN  -> *set of words*
        NNP -> *set of words*
        NNG -> *set of words*
        VBI -> *set of words*
        VBT -> *set of words*
        JJ  -> *set of words*
        CC  -> 'dan' | 'atau'
        IN  -> 'di' | 'ke' | 'dari'
        DT  -> 'ini' | 'itu'</code></pre>
        <button type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Proses Penyusunan Kalimat" id="btnGrammar">Lakukan Penyusunan Kalimat</button>
        <p><span id="status_grammar"></span></p>
      </p>
      <hr>
      <h2 id="final" class="anchor">7. Final Result</h2>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
        eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut.
      </p>
      <hr>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript">

// javascript for menu steps static scrolling
var $body   = $(document.body);
var navHeight = $('.navbar').outerHeight(true) + 10;
$('#sidebar').affix({
    offset: {
      top: 0,
      bottom: navHeight
    }
});
$body.scrollspy({
	target: '#leftCol',
	offset: navHeight
});

// javascript for crawling
function gantiStatusCrawling() {
  var stat_crawling_sidebar =  document.getElementById("stat_crawling_sidebar");
  var stat_crawling_header = document.getElementById("stat_crawling_header");
  stat_crawling_sidebar.innerHTML = "(Sudah)";
  stat_crawling_sidebar.style.color = "green";
  stat_crawling_header.innerHTML = "(Sudah)";
  stat_crawling_header.style.color = "green";
}
function getCrawling(ev) {
  ev.preventDefault();
  $("#btnCrawling").button('loading');
  $.ajax({
    method: 'POST',
    url: {{ url_for('main.crawl')|tojson }},
    timeout: 0,
    data: $(this).serialize(),
    error: function(xhr, status, error) {
      if (status==="timeout") {
        alert("Call has timed out.");
      } else {
        alert(error);
      }
    }
  }).done(getCrawlingShow);
}
function getCrawlingShow(data) {
  $('#status_crawling').text(data.status_crawling);
  gantiStatusCrawling();
  $("#btnCrawling").button('reset');
  setTimeout(function () {
    $("#btnCrawling").prop("disabled", true);
  }, 0);
}
$('#form_crawling').on('submit', getCrawling);

// javascript for preprocessing
function gantiStatusPreprocessing() {
  var stat_preprocessing_sidebar =  document.getElementById("stat_preprocessing_sidebar");
  var stat_preprocessing_header = document.getElementById("stat_preprocessing_header");
  stat_preprocessing_sidebar.innerHTML = "(Sudah)";
  stat_preprocessing_sidebar.style.color = "green";
  stat_preprocessing_header.innerHTML = "(Sudah)";
  stat_preprocessing_header.style.color = "green";
}
function doPreprocessing(ev){
  ev.preventDefault();
  $("#btnPreprocessing").button('loading');
  $.ajax({
    method: 'POST',
    url: {{ url_for('main.preprocess')|tojson }},
    timeout: 0,
    data: $(this).serialize(),
  }).done(doPreprocessingShow);
}
function doPreprocessingShow(data) {
  $('#status_preprocessing').text(data.status_preprocessing);
  gantiStatusPreprocessing();
  $("#btnPreprocessing").button('reset');
  setTimeout(function () {
    $("#btnPreprocessing").prop("disabled", true);
  }, 0);
}
$('#btnPreprocessing').click(doPreprocessing)

// javascript for pos tagging
function gantiStatusPosTagging() {
  var stat_pos_tagging_sidebar =  document.getElementById("stat_pos_tagging_sidebar");
  var stat_pos_tagging_header = document.getElementById("stat_pos_tagging_header");
  stat_pos_tagging_sidebar.innerHTML = "(Sudah)";
  stat_pos_tagging_sidebar.style.color = "green";
  stat_pos_tagging_header.innerHTML = "(Sudah)";
  stat_pos_tagging_header.style.color = "green";
}
function doPosTagging(ev){
  ev.preventDefault();
  $("#btnPosTagging").button('loading');
  $.ajax({
    method: 'POST',
    url: {{ url_for('main.pos_tagging')|tojson }},
    timeout: 0,
    data: $(this).serialize(),
  }).done(doPosTaggingShow);
}
function doPosTaggingShow(data) {
  $('#status_pos_tagging').text(data.status_pos_tagging);
  gantiStatusPosTagging();
  $("#btnPosTagging").button('reset');
  setTimeout(function () {
    $("#btnPosTagging").prop("disabled", true);
  }, 0);
}
$('#btnPosTagging').click(doPosTagging)

// javascript for penentuan kelas
function gantiStatusKelas() {
  var stat_kelas_sidebar =  document.getElementById("stat_penentuan_kelas_sidebar");
  var stat_kelas_header = document.getElementById("stat_penentuan_kelas_header");
  stat_kelas_sidebar.innerHTML = "(Sudah)";
  stat_kelas_sidebar.style.color = "green";
  stat_kelas_header.innerHTML = "(Sudah)";
  stat_kelas_header.style.color = "green";
}
function doPenentuanKelas(ev){
  ev.preventDefault();
  $("#btnPenentuanKelas").button('loading');
  $.ajax({
    method: 'POST',
    url: {{ url_for('main.penentuan_kelas')|tojson }},
    timeout: 0,
    data: $(this).serialize(),
  }).done(doPenentuanKelasShow);
}
function doPenentuanKelasShow(data) {
  $('#status_penentuan_kelas').text(data.status_penentuan_kelas);
  gantiStatusKelas();
  $("#btnPenentuanKelas").button('reset');
  setTimeout(function () {
    $("#btnPenentuanKelas").prop("disabled", true);
  }, 0);
}
$('#btnPenentuanKelas').click(doPenentuanKelas)

// javascript slider beta and alpha
$("#alpha").slider();
$("#alpha").bind("slideStop", function(slideEvent) {
  $("#alphaVal").text(slideEvent.value);
})
$("#beta").slider();
$("#beta").bind("slideStop", function(slideEvent) {
  $("#betaVal").text(slideEvent.value);
})

// javascript for generate jumlah topik
function doGenerateTopik(ev){
  ev.preventDefault();
  $("#btnGenerateTopik").button('loading');
  $.ajax({
    method: 'POST',
    url: {{ url_for('main.generate_topik')|tojson }},
    timeout: 0,
    data: $(this).serialize(),
  }).done(doGenerateTopikShow);
}
function doGenerateTopikShow(data) {
  $('#num_topics').val(data.num_topics);
  $("#btnGenerateTopik").button('reset');
}
$('#btnGenerateTopik').click(doGenerateTopik)

// javascript for submit form LDA
function gantiStatusLda() {
  var stat_lda_sidebar =  document.getElementById("stat_lda_sidebar");
  var stat_lda_header = document.getElementById("stat_lda_header");
  stat_lda_sidebar.innerHTML = "(Sudah)";
  stat_lda_sidebar.style.color = "green";
  stat_lda_header.innerHTML = "(Sudah)";
  stat_lda_header.style.color = "green";
}
function doLDA(ev){
  ev.preventDefault()
  $("#btnLda").button('loading');
  $.ajax({
    type: "POST",
    url: $(this).attr('action'),
    data: $(this).serialize(),
  }).done(doLDAShow);
}
function doLDAShow(data) {
  $('#status_lda').text(data.status_lda);
  gantiStatusLda();
  $("#btnLda").button('reset');
  setTimeout(function () {
    $("#btnLda").prop("disabled", true);
  }, 0);
}
$('#formLda').submit(doLDA);

// javascript for context-free grammar
function gantiStatusGrammar() {
  var stat_grammar_sidebar =  document.getElementById("stat_grammar_sidebar");
  var stat_grammar_header = document.getElementById("stat_grammar_header");
  stat_grammar_sidebar.innerHTML = "(Sudah)";
  stat_grammar_sidebar.style.color = "green";
  stat_grammar_header.innerHTML = "(Sudah)";
  stat_grammar_header.style.color = "green";
}
function doGrammar(ev){
  ev.preventDefault();
  $("#btnGrammar").button('loading');
  $.ajax({
    method: 'POST',
    url: {{ url_for('main.grammar')|tojson }},
    timeout: 0,
    data: $(this).serialize(),
  }).done(doGrammarShow);
}
function doGrammarShow(data) {
  $('#status_grammar').text(data.status_grammar);
  gantiStatusGrammar();
  $("#btnGrammar").button('reset');
  setTimeout(function () {
    $("#btnGrammar").prop("disabled", true);
  }, 0);
}
$('#btnGrammar').click(doGrammar)
</script>
{% endblock %}
