{% extends 'bootstrap/base.html' %}
{% block title %}
{{ _('Storytelling Twitter') }}
{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='story.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<style>
  body {
      position: relative;
  }
  .affix {
      top: 70px;
      z-index: 9999 !important;
  }
</style>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main.index') }}">{{ _('Storytelling Twitter') }}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('main.stories') }}">{{ _('Stories') }}</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  <div class="logo">
    <img src="{{url_for('static', filename='logo.png')}}" width="110" height="110">
    <h3 class="title">Your Story</h3>
  </div>
  <div class="paper">
    <div class="btn-details">
      <a href="{{url_for('main.get_crawling', id=crawler_id)}}" class="btn btn-primary"><i class="fa fa-info-circle"></i> Details</a>
    </div>
    <div class="content">
      {% for topic, story in dict_story.items() %}
        <h3 class="title">Topik {{ topic }}</h3>
        {% set informasi, cerita = story[0], story[1] %}
        <u>Rules {{ informasi[0] }}</u>
        <p style="text-align:justify">{{ informasi[1] }}</p>
        <u>Rules {{ cerita[0] }}</u>
        <p style="text-align:justify">{{ cerita[1] }}</p>
        <br/>
      {% endfor %}
    </div>
    <hr>
  </div>
</div>
{% endblock %}
