{% extends 'bootstrap/base.html' %}
{% block title %}
{{ _('Storytelling Twitter') }}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main.index') }}">{{ _('Storytelling Twitter') }}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('main.stories') }}">{{ _('Stories') }}</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
      <h3>Your Story</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label for="selectTopic">Select Topic:</label>
        <select class="form-control" id="selectTopic">
          {% for topic in range(num_topics) %}
          <option>{{ topic }}</option>
          {% endfor %}
        </select>
      </div>
      <button class="btn btn-primary btn-block"><i class="fa fa-home"></i> Lihat Details</button>
      <button class="btn btn-success btn-block">Export</button>
    </div>
    <div class="col-md-10">
      <h3>Topic 0</h3>
      {% set ns = namespace(n=10) %}
      {% for i in range(ns.n) %}
      <p>
        Kalimat {{ i }}
      </p>
      {% set ns.n = ns.n+1 %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
